<html>
    <head>
        <title>My blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My blog</a></h1>
        </div>

        <div>
            <p>published: 01.12.2022, 12:00</p>
            <h2><a href="">First post</a></h2>
            <p>Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1Text1
Text1Text1Text1Text1Text1Text1.</p>
        </div>

        <div>
            <p>published: 02.12.2022, 18:00</p>
            <h2><a href="">Second post</a></h2>
            <p>Text2Text2Text2Text2Text2Text2Text2.</p>
        </div>
    </body>
</html>
