.page-header {
    background-color: #1f60de;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Carattere', cursive;
	display: inline;
}

.save {
    float: right;
}

.button {
	float: right;
	margin-right: 1rem;	
	margin-top: 6px;
	height: 28px;
}

[data-title]:hover:after {
    content: attr(data-title);
	display: none;
	position: absolute;
	bottom: -30px;
	left: 20px;
	background: #000000;
    border-radius: 5px;	
	color: #b5b8b1;
	
	word-spacing: normal;
	padding: 0px 5px 0px 5px;
	
	white-space: nowrap;
	line-height: 2;
	text-align: center;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.16);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.16);
	box-shadow: 0 1px 1px rgba(0,0,0,.16);
	font-size: 12px;
}

[data-title]:hover:after {
	display: block;	
}

[data-title] {
    position: relative;
}

.post_header {
    height: 40px;
	line-height: 40px;
}

.date {
    color: #828282;
	float: right;
	white-space: nowrap
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 40px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #1f60de;
}